<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (2017-01-23 18:33)</string>
	<string>M7.1-4328-1</string>
	<string>G-r12-2B144</string>
</array>
</plist>
